- if current_user 
	%h1{:class=> "center large"}= link_to "Add a Quote", new_quote_path
- else
	%h1{:class => "center"} Please sign in.

-if current_user
	%br
	%h1 Quotes listings:
	- @quotes.each do |quote|
		%h2= link_to quote.description, quote
-else