/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-content{
 	width: 80%;
 	float: left;
 	margin: 10% auto;
 	padding: 0 10%;
 }
#logo {
	text-decoration: none;
}
.signedin {
	 list-style-type: none;
	 margin-top: 1%;
}
.signedin li {
	float: right;
	padding-right: 5%;
	font-family: ;
	font-size: 15pt;
}
.header {
	display: block;
	float: left;
	font-size: 40pt;
	margin: 2% 0 0 2%;
}
.feedback{
	display: block;
	clear: both;
	margin: 0 35%;
	text-align: center;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.large {
	font-size: 25pt;
}
.form {
	margin-top: 10px;
}
.huge-l {
	font-size: 60px;
	float: left;
	margin-left: 10%;
	font-family: 'Garamond';
}
.huge-r {
	font-size: 60px;
	float: right;
	margin-right: 10%;
	font-family: 'Garamond';
}
.quote-desc {
	display: block;
	margin-bottom: 30px;
	line-height: 30px;
	font-family: 'Garamond', sans-serif;
}
.quote-name {
	display: block; 
}

.right {
	text-align: right;
	margin: 20px;
	clear: both;
}

.submitted {
	margin-top: 50px;
}
